/* JavaScript Assignment - 4 | Deep Biswas - 200554124 */
/* Adding fonts */
@font-face {
    font-family: "SF-Pro";
    src: url(../fonts/SF-Pro.otf);
}
/* Global Styles */
html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
}
/* Header Styles */
header{
    background-color: #0e0e0e;
    color: #fff;
    padding: 2rem 10rem;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container a img{
    width: 6.5em;
    height: auto;
}
.search input{
    padding: 0.5rem;
    border: solid 1px #023f85;
    border-radius: 5px;
    width: 20em;
    font-size: 1rem;
    font-family: 'SF-Pro', sans-serif;
}
.search button{
    font-size: 1.1rem;
    padding: 0.49rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #fcee0a;
    color: #023f85;
    cursor: pointer;
    transition: 0.3s;
}
.search button:hover{
    background-color: #023f85;
    color: #fff;
}
.search button:active{
    transform: scale(0.9);
}
/* Main Styles */

/* Credentials Styles */
.credentials{
    background-color: #5a5a5a;
    color: #fff;
    padding: 1rem 11rem 1rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.credentials p{
    filter: drop-shadow(0 0 10px #ffd700);
}
.credentials button{
    font-size: 1.1rem;
    font-family: 'SF-Pro', sans-serif;
    padding: 0.49rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #fcee0a;
    color: #023f85;
    cursor: pointer;
    transition: 0.3s;
}
.credentials button:hover{
    background-color: #023f85;
    color: #fff;
}
.credentials button:active{
    transform: scale(0.9);
}
/* Credentials TO BE removed after graded, while expanding the project */

.main-container{
    padding: 0 10rem 2rem 10rem;
    min-height: 80vh;
}
.main-container h2{
    text-align: center;
    margin: 2rem 0;
    font-size: 1.5rem;
    font-family: 'SF-Pro', sans-serif;
}
.main-window{
    background-color: #eaeaea;
    padding: 2rem;
    border-radius: 10px;
}
.main-window h2{
    text-align: left;
}
.movies{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1.2rem;
    margin-top: 1rem;
}
.movie-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15em;
    height: 30em;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    user-select: none;
}
.movie-card:hover{
    transform: scale(1.05);
}
.movie-card img{
    width: 100%;
    height: 22em;
    object-fit: cover;
    border-radius: 5px;
}
.movie-card h2{
    font-size: 1.5rem;
    font-family: 'SF-Pro', sans-serif;
    margin: 0.5rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.movie-card p{
    font-size: 1rem;
    font-family: 'SF-Pro', sans-serif;
    margin: 0.5rem 0;
}
.movie-card button{
    font-family: 'SF-Pro', sans-serif;
    font-size: 1.1rem;
    padding: 0.49rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #fcee0a;
    color: #023f85;
    cursor: pointer;
    transition: 0.3s;
}
.movie-card button:hover{
    background-color: #023f85;
    color: #fff;
}
.movie-card button:active{
    transform: scale(0.9);
}
.single-movie-card{
    width: 100%;
    height: fit-content;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.single-movie-card img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.single-movie-card h2{
    font-size: 2rem;
    font-family: 'SF-Pro', sans-serif;
    margin: 0.5rem 0;
    margin-top: -0.19rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.single-movie-card p{
    font-size: 1.2rem;
    font-family: 'SF-Pro', sans-serif;
    margin: 0.5rem 0;
    margin-bottom: 1rem;
}
.single-movie-card button{
    font-family: 'SF-Pro', sans-serif;
    font-size: 1.2rem;
    padding: 0.49rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #fcee0a;
    color: #023f85;
    cursor: pointer;
    transition: 0.3s;
}
.single-movie-card button:hover{
    background-color: #023f85;
    color: #fff;
}
.single-movie-card button:active{
    transform: scale(0.9);
}
/* Footer Styles */
footer{
    background-color: #0e0e0e;
    border-top: #fcee0a 1.5px solid;
    padding: 2rem;
}
.love{
    text-align: center;
    user-select: none;
}
.love p{
    font-family: 'SF-Pro', sans-serif;
    font-size: 1.3rem;
    color: #f5f5f5;
    text-align: center;
}
.love div p{
    font-family: 'SF-Pro', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #f5f5f5;
    text-align: center;
}
.love p:nth-child(1) i{
    color: #ff0000;
}
.footer-langs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1vw;
}
.footer-langs span{
    font-family: 'SF-Pro', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #0e0e0e;
    text-align: center;
    gap: 0.5vw;
    background-color: #fcee0a;
    border-radius: 5px;
    padding: 0.3vw;
    border: 1px #0e0e0e dashed;
}
.pwr-text span{
    font-size: 1.2rem;
}
#tmdbCredit{
    max-width: 200px;
    cursor: pointer;
    transition: 0.3s;
}
#tmdbCredit:active{
    transform: scale(0.9);
}
